@font-face {
	font-family: 'kelt-icons-16';
	src:url('fonts/kelt-icons-16.eot');
	src:url('fonts/kelt-icons-16.eot?#iefix') format('embedded-opentype'),
		url('fonts/kelt-icons-16.woff') format('woff'),
		url('fonts/kelt-icons-16.ttf') format('truetype'),
		url('fonts/kelt-icons-16.svg#kelt-icons-16') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'kelt-icons-16';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon16-"] {
*/
.icon16-bullhorn, .icon16-podcast, .icon16-calendar, .icon16-bubble, .icon16-lab, .icon16-lanyrd, .icon16-twitter, .icon16-film, .icon16-location, .icon16-mail, .icon16-microphone, .icon16-graduate, .icon16-coffee, .icon16-attachment, .icon16-hammer, .icon16-food, .icon16-picture, .icon16-user, .icon16-clock, .icon16-bubbles, .icon16-house, .icon16-ticket, .icon16-uniF47D, .icon16-tag, .icon16-pencil, .icon16-tv, .icon16-play-alt, .icon16-file-pdf, .icon16-attachment-2, .icon16-presentation {
	font-family: 'kelt-icons-16';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon16-bullhorn:before {
	content: "\e000";
}
.icon16-podcast:before {
	content: "\e001";
}
.icon16-calendar:before {
	content: "\e003";
}
.icon16-bubble:before {
	content: "\e004";
}
.icon16-lab:before {
	content: "\e009";
}
.icon16-lanyrd:before {
	content: "\e00b";
}
.icon16-twitter:before {
	content: "\e00c";
}
.icon16-film:before {
	content: "\e00e";
}
.icon16-location:before {
	content: "\e00f";
}
.icon16-mail:before {
	content: "\e013";
}
.icon16-microphone:before {
	content: "\e014";
}
.icon16-graduate:before {
	content: "\e016";
}
.icon16-coffee:before {
	content: "\f0f4";
}
.icon16-attachment:before {
	content: "\e01a";
}
.icon16-hammer:before {
	content: "\f291";
}
.icon16-food:before {
	content: "\e007";
}
.icon16-picture:before {
	content: "\f03e";
}
.icon16-user:before {
	content: "\e008";
}
.icon16-clock:before {
	content: "\e002";
}
.icon16-bubbles:before {
	content: "\e010";
}
.icon16-house:before {
	content: "\e005";
}
.icon16-ticket:before {
	content: "\e011";
}
.icon16-uniF47D:before {
	content: "\f47d";
}
.icon16-tag:before {
	content: "\f02b";
}
.icon16-pencil:before {
	content: "\f040";
}
.icon16-tv:before {
	content: "\e006";
}
.icon16-play-alt:before {
	content: "\e00a";
}
.icon16-file-pdf:before {
	content: "\e00d";
}
.icon16-attachment-2:before {
	content: "\e012";
}
.icon16-presentation:before {
	content: "\f0c4";
}
