body {
  font-size: 1em;
  line-height: 1.4;
  font-family: anaheimregular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    // Modernizr fallback for when there is no fontface support
    .no-fontface & {
        font-size: 1.05em;
    }
}

h2, h3, h4, h5, p, li {
  cursor: text;
}

.session-photo a {
  cursor: default;
}
