// @font-face {
    // font-family: 'anaheimregular';
    // src: font-url('anaheim/anaheim-regular-webfont.eot');
    // src: font-url('anaheim/anaheim-regular-webfont.eot?#iefix') format('embedded-opentype'),
         // font-url('anaheim/anaheim-regular-webfont.svg#anaheimregular') format('svg'),
         // font-url('anaheim/anaheim-regular-webfont.woff') format('woff'),
         // font-url('anaheim/anaheim-regular-webfont.ttf') format('truetype');
    // font-weight: normal;
    // font-style: normal;
//
// }
//
// @font-face {
    // font-family: 'OswaldLight';
    // src: font-url('oswald/Oswald-Light-webfont.eot');
    // src: font-url('oswald/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
         // font-url('oswald/Oswald-Light-webfont.svg#OswaldLight') format('svg'),
         // font-url('oswald/Oswald-Light-webfont.woff') format('woff'),
         // font-url('oswald/Oswald-Light-webfont.ttf') format('truetype');
    // font-weight: normal;
    // font-style: normal;
//
// }
//
// @font-face {
    // font-family: 'OswaldBook';
    // src: font-url('oswald/Oswald-Regular-webfont.eot');
    // src: font-url('oswald/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         // font-url('oswald/Oswald-Regular-webfont.svg#OswaldBook') format('svg'),
         // font-url('oswald/Oswald-Regular-webfont.woff') format('woff'),
         // font-url('oswald/Oswald-Regular-webfont.ttf') format('truetype');
    // font-weight: normal;
    // font-style: normal;
//
// }
//

@font-face {
  font-family: 'kelt-icons-16';
  src:font-url('kelt-icons-16/fonts/kelt-icons-16.eot');
  src:font-url('kelt-icons-16/fonts/kelt-icons-16.eot?#iefix') format('embedded-opentype'),
    font-url('kelt-icons-16/fonts/kelt-icons-16.woff') format('woff'),
    font-url('kelt-icons-16/fonts/kelt-icons-16.ttf') format('truetype'),
    font-url('kelt-icons-16/fonts/kelt-icons-16.svg#kelt-icons-16') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kelt-icons-24';
  src:font-url('kelt-icons-24/fonts/kelt-icons-24.eot');
  src:font-url('kelt-icons-24/fonts/kelt-icons-24.eot?#iefix') format('embedded-opentype'),
    font-url('kelt-icons-24/fonts/kelt-icons-24.woff') format('woff'),
    font-url('kelt-icons-24/fonts/kelt-icons-24.ttf') format('truetype'),
    font-url('kelt-icons-24/fonts/kelt-icons-24.svg#kelt-icons-24') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'soccer';
  src:font-url('soccer/fonts/soccer.eot');
  src:font-url('soccer/fonts/soccer.eot?#iefix') format('embedded-opentype'),
    font-url('soccer/fonts/soccer.woff') format('woff'),
    font-url('soccer/fonts/soccer.ttf') format('truetype'),
    font-url('soccer/fonts/soccer.svg#soccer') format('svg');
  font-weight: normal;
  font-style: normal;
}

