/*
 * GENERAL
 */
* {
  @include bs(border-box);
}

#logo,
#content,
#footer,
nav.top-bar {
  padding-right: 10px;
  padding-left: 10px;
}

#header {
  margin-bottom: emCalc(30px);
}


/*
 * HEADER: mobile+
 */
#logo {
  @include grid-row;
}

.top-bar {
    @include grid-row;
    height: 44px;
    padding-right: 0;
    padding-left: 0;
}

.top-bar-section {
  li {
    &:nth-child(2) {
      min-width: 104px;
    }
    &:nth-child(4) {
      min-width: 108px;
    }
    &:nth-child(6) {
      min-width: 110px;
    }
    &:nth-child(8) {
      min-width: 187px;
    }
    a:not(.button) {
      line-height: 39px;
      padding-bottom: 2px;
      padding-top: 3px;
    }
  }
}

// remove h1 from viewport
#header h1 {
  text-indent: -9999em;
}


/*
 *  HEADER: small+
 */
@media #{$small} {
  #header {
    margin-bottom: emCalc(72px);
  }
}


/*
 * CONTENT: mobile
 */
.radioshow {
  @include grid-column(12);
}

.videostream {
  @include grid-column(12);
}


/*
 * CONTENT: mobile+
 */
#content {
  @include grid-row;
}

.hero-date {
  margin: 0 0 1.2em 0;
}

.hero-subtitle {
  margin: 0 0 1em 0;
}

.hero-title {
  margin: 0 0 1em 0;
}

.livestream {
  @include grid-column(12);
  @include panel;
  padding-top: 32px;
  .icon24-podcast {
    padding-right: emCalc(8px);
  }
}

.streams {
  @include panel;
  margin-bottom: emCalc(36px);
}

/*
 * CONTENT: small+
 */

@media #{$small} {
  .radioshow {
    @include grid-column(3);
  }

  .videostream {
    @include grid-column($columns:3, $offset:6);
  }
}

/*
 * FOOTER: mobile+
 */
#footer {
  @include grid-row;
  padding-bottom: emCalc(40px);
  padding-top: emCalc(40px);
  & ul {
    @include inline-list;
    margin-bottom: 0;
    margin-left: 0;
    & li {
      a:hover {
      color: darken($primary-color, 50%);
      }
      margin: 0 20px 0 0;
      &:last-child {
        margin-right: 0;
      }
      &.active a {
      color: darken($primary-color, 50%);
      }
    }

  }
  & ul li.footer-logo {
    margin: 0 30px 0 0;
  }
}

h3.day2 {
  margin-top: 48px;
}


/*
 * PROGRAM: mobile
 */
.session {
  @include panel;
}
.session-sidebar {
  @include grid-column(12);
  margin-bottom: 16px;

}
.nestedrow {
  @include grid-row(nest);
}
.time {
  @include grid-column(12);
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}


/*
 * PROGRAM: small+
 */
@media #{$small} {
  .session {
  @include grid-row;
  @include panel;
  }

  .session-sidebar {
    @include grid-column(2);
    padding: 0 13px 0 13px;
  }

    .nestedrow {
      @include grid-row(nest);
    }

      .time {
      @include grid-column(12);
      padding-left: 0;
      padding-right: 0;
      }

      .session-icon {
        @include grid-column(12);
        margin-top: 6px;
      }

      .session-photo {
        @include grid-column(12);
        margin-top: 6px;
        padding: 0;
        & img {
          margin: auto;
          margin-bottom: 20px;
        }
      }

  .description {
    @include grid-column(10);
  }
}


/*
 * MAP: mobile
 */
.map {
  @include grid-column(12);
  margin-bottom: 2em;
}

.vcard {
  padding: 0;
  border: 0;
}

/*
 * MAP: small+
 */
@media #{$small} {
  .map {
    padding: 0;
  }
}


/*
 * FORM: mobile
 */
.form-unit {
  @include grid-row;
}

.form-input {
    @include grid-column($columns:12, $last-column:true);
    input, label {
      font-size: emCalc(18px);
    }
  }

.form-submit {
    @include grid-column($columns:12, $last-column: true);
    padding-left: emCalc(15px);
    & input {
      // @include button;
      @include button-base;
      @include button-size($padding: 1em);
      @include button-style($bg: $secondary-color);
      @include radius;
      @include single-transition;
    }
  }


/*
 * FORM: small+
 */
@media #{$small} {
  .form-input {
    @include grid-column($columns:6, $last-column:true);
    padding-left: 0;
    input, label {
      font-size: emCalc(21px);
      height: 2em;
      padding: 0.25em;
    }
  }

  .form-submit {
    padding-left: 0;
  }
}


/*
 * TEXTAREA: mobile+
 */
textarea {
    min-height: 8em;
    padding: 0.25em;
  }

/*
 * TEXTAREA: small+
 */
@media #{$small} {
  textarea {
    font-size: emCalc(24px);
  }
}

