/*
 * HEADER
 */
.header-bg {
  background: rgba($primary-color, .3);
}


/*
 * LOGO: mobile
 */
#logo h1 {
  background: image-url("logo-300.png") scroll no-repeat;
  padding: 0.5em 0 0.2em 0;
}


/*
 * LOGO: small+
 */
@media #{$small} {
  #logo h1 {
    background: image-url("logo-500.png") scroll no-repeat;
    padding: 0.5em 0 0.2em 0;
  }
}


/*
 * TOP-BAR: mobile+
 */
#navigation {
  background: rgba($white, .3);
  .top-bar-section {
    ul {
      font-size: 16px;
    }
    ul li {
      & > a {
        &:hover {
          background: $primary-color;
          color: $white;
        }
      }
      &.active > a {
        background: $primary-color;
        color: $white;

        &:hover {
          background: $primary-color;
        }
      }
    }
  & .divider {
    border-bottom: solid 1px lighten($primary-color, 50%);
    border-top: solid 1px lighten($primary-color, 50%);
  }
  }
}

h1 {
  a {
    background: $secondary-color;
  }
}


/*
 * CONTENT: mobile+
 */
#content > ol {
  list-style-type: none;
}

#content ul.attachments {
  @include inline-list;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 0.6em;
}

/*
 * TEASER-buttons: mobile
 */
.button-videostream {
  @include button-base;
  @include button-size($padding: $button-lrg, $full-width: true);
  @include button-style($bg: $primary-color);
  @include single-transition;
}

.button-radioshow {
  @include button-base;
  @include button-size($padding: $button-lrg, $full-width: true);
  @include button-style($bg: $primary-color);
  @include single-transition;
}

.notification {
  line-height: 1.6em;
  h4,
  h5,
  p {
    color: #ccc;
  }
  @include alert(rgba($primary-color, .3));
  padding: 0.75em;
  ~ div > * {
    @include opacity(0.3);
  }
  text-align: center;
  @media #{$small} {
    font-size: emCalc(18);
  }
}


/*
 * TEASER_buttons: small+
 */
@media #{$small} {
  .button-videostream {
  @include button-size($padding: $button-med);
  }

.button-radioshow {
  @include button-size($padding: $button-med);
  }
}

/*
 * REGISTER: mobile+
 */
.register {
  @include button-base;
  @include button-size($padding: 1em);
  @include button-style($bg: $secondary-color);
  @include radius;
  @include single-transition;
}

/*
 * ORBIT: mobile+
 */
// .orbit-slide-number {
  // padding: 9px 5px 5px 7px;
// }
