/*
 * mixins
 */
@mixin tile {
  @include grid-column($columns: 12);
  color: #000;
  margin: 0 0 30px 0;
  padding: 18px;
}

@mixin tile_heading {
  background-color: $primary-color;
}

/*
 * layout for style guide
 */
#content {
  @include grid-row;
}

.showsmall {
  @extend .show-for-small;
}

/*
 * small+
 */
.showmediumup {
  @extend .show-for-medium-up;
}


/*
 * TYPO: mobile+
 */
#content ul li,
#content a {
  font-size: 1em;
}

.typo h2,
.typo h3,
.typo h4,
.typo h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}

// @media #{$small} {
  // #content ul li, #content a {
    // font-size: $paragraph-font-size;
  // }
// }


/*
 * color tiles
 */
$primary30: rgba($primary-color, .3);

.colortiles {
  @include grid-row;
}

.color01 {
  @include tile;
  background-color: $primary-color;
}

.color02 {
  @include tile;
  background-color: $secondary-color;
}

.color03 {
  @include tile;
  background-color: $primary30;
}

.color04 {
  @include tile;
  background-color: tint($primary30, 30%);
}

.texture01 {
  @include tile;
  background: image-url("blizzard.png") fixed repeat;
  border: 1px solid #ddd;
}
/*
 * small+
 */
@media #{$small} {
  .color01, .color03, .texture01 {
    @include grid-column ($columns: 5);
  }
  .color02, .color04 {
    @include grid-column ($columns: 5, $offset: 1);
  }
}

/*
 * ICONS: mobile+
 */
.icons li span {
  padding: 0;
}
