/*
 * TYPO: variables
 */
$body-font-family: $sourcesanspro-regular;
$header-font-color: $dark-gray;
$topbar-link-font-family: $oswald-book;


/*
 * TYPO: mobile
 */
h2 {
    font-size: $h1-font-size;
  }

#content {
  h2 {
    font-size: $h2-font-size;
  }
  h3 {
    font-size: $h3-font-size;
  }
  h4 {
    font-size: $h4-font-size;
  }
  h5 {
    font-size: $h5-font-size;
  }
  p {
    font-size: $paragraph-font-size - emCalc(5px);
  }
  ul {
    font-size: $paragraph-font-size - emCalc(5px);
  }
  .hero-date {
    font-size: $h3-font-size;
    text-align: center;
  }
  .hero-subtitle {
    font-size: $h3-font-size;
    text-align: center;
  }
  .hero-title {
    font-size: $h2-font-size;
    text-align: center;
  }
}



/*
 * TYPO: mobile+
 */
h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
}

a:hover, a:visited {
    color: darken($primary-color, 20%);
  }

a.button-videostream, a.button-radioshow,
a.button-videostream:hover, a.button-radioshow:hover,
a.button-videostream:visited, a.button-radioshow:visited {
  color: $white;
}

#content {
  ul, ol, dl {
    font-size: 1em;
    list-style-type: none;
  }
  h2, h3, h4, h5 {
    text-align: center;
  }
  h3, h4, h5 {
    line-height: 1.5;
  }
  .description {
    ul {
      list-style-type: square;
      }
  }
  ul {
    &.vcard {
      font-size: $paragraph-font-size;
    }
    &.address {
      font-size: $paragraph-font-size;
    list-style: none;
    }
  }
  & .icon16-uniF47D {
    font-size: 0.7em;
    padding-top: 0px;
  }
  & .hint {
    text-align: center;
  }
}

li.menu-icon {
  & span {
    font-size: 16px;
  }
}

#content .attachments {
  margin-bottom: 0.625em;
}


.livestream {
  color: $primary-color;
  font-family: $oswald-book;
  font-size: emCalc(18px);
  .icon24-podcast {
    color: $dark-gray;
  }
}

.register {
  font-size: $paragraph-font-size;
}

.session-icon {
  color: $dark-gray;
  font-size: emCalc(24px);
  padding-left: 0;
  text-align: left;
}

.time {
  color: $dark-gray;
  font-family: $oswald-book;
  font-size: emCalc(21px);
  text-align: right;
}

.top-bar-section {
  font-family: $topbar-link-font-family;
  & a{
    text-transform: uppercase;
  }
}

#footer ul {
  font-size: emCalc(18px);
}

/*
 * TYPO: small+
 */
@media #{$small} {
  #content {
    p {
      font-size: $paragraph-font-size;
    }
    .description {
      ul, ol {
        font-size:  $paragraph-font-size;
      }
      ul {
        list-style-type: square;
      }
    }
    .hero-date {
      font-size: $h2-font-size;
      text-align: center;
    }
    .hero-subtitle {
      font-size: $h2-font-size;
      text-align: center;
    }
    .hero-title {
      font-size: $h1-font-size;
      text-align: center;
    }
    h2 {
      font-size: $h2-font-size + emCalc(6px);
    }
    h3 {
      font-size: $h3-font-size + emCalc(6px);
    }
    h4 {
      font-size: $h4-font-size + emCalc(3px);
    }
    h5 {
      font-size: $h5-font-size + emCalc(5px);
    }
    h2, h3, h4, h5 {
      text-align: left;
    }
  }
  #footer ul {
    font-size: $paragraph-font-size;
  }
  .livestream {
    font-size: emCalc(24px);
  }

  .session-icon {
    font-size: emCalc(30px);
    text-align: center;
  }
  .time {
    font-size: emCalc(36px);
    margin-top: 10px;
    text-align: center;
  }
}


/*
 * ICONS
 */

.icon-alone {
  display: inline-block;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*
 * ICONS: kelt-icons-24: data attributes
 */
[data-icon]:before {
  font-family: 'kelt-icons-24';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/*
 * ICONS: kelt-icons-16
 */
.icon16-bullhorn, .icon16-podcast, .icon16-calendar, .icon16-bubble, .icon16-lab, .icon16-lanyrd, .icon16-twitter, .icon16-film, .icon16-location, .icon16-mail, .icon16-microphone, .icon16-graduate, .icon16-coffee, .icon16-attachment, .icon16-hammer, .icon16-food, .icon16-picture, .icon16-user, .icon16-clock, .icon16-bubbles, .icon16-house, .icon16-ticket, .icon16-uniF47D, .icon16-tag, .icon16-pencil, .icon16-tv, .icon16-play-alt, .icon16-file-pdf, .icon16-attachment-2, .icon16-presentation {
  font-family: 'kelt-icons-16';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon16-bullhorn, .icon16-podcast, .icon16-microphone, .icon16-coffee, .icon16-hammer, .icon16-food, .icon16-bubbles {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
  }

.icon16-microphone {
    padding-left: 4px;
    padding-right: 4px;
  }

.icon16-bullhorn:before {
  content: "\e000";
}
.icon16-podcast:before {
  content: "\e001";
}
.icon16-calendar:before {
  content: "\e003";
}
.icon16-bubble:before {
  content: "\e004";
}
.icon16-lab:before {
  content: "\e009";
}
.icon16-lanyrd:before {
  content: "\e00b";
}
.icon16-twitter:before {
  content: "\e00c";
}
.icon16-film:before {
  content: "\e00e";
}
.icon16-location:before {
  content: "\e00f";
}
.icon16-mail:before {
  content: "\e013";
}
.icon16-microphone:before {
  content: "\e014";
}
.icon16-graduate:before {
  content: "\e016";
}
.icon16-coffee:before {
  content: "\f0f4";
}
.icon16-attachment:before {
  content: "\e01a";
}
.icon16-hammer:before {
  content: "\f291";
}
.icon16-food:before {
  content: "\e007";
}
.icon16-picture:before {
  content: "\f03e";
}
.icon16-user:before {
  content: "\e008";
}
.icon16-clock:before {
  content: "\e002";
}
.icon16-bubbles:before {
  content: "\e010";
}
.icon16-house:before {
  content: "\e005";
}
.icon16-ticket:before {
  content: "\e011";
}
.icon16-uniF47D:before {
  content: "\f47d";
}
.icon16-tag:before {
  content: "\f02b";
}
.icon16-pencil:before {
  content: "\f040";
}
.icon16-tv:before {
  content: "\e006";
}
.icon16-play-alt:before {
  content: "\e00a";
}
.icon16-file-pdf:before {
  content: "\e00d";
}
.icon16-attachment-2:before {
  content: "\e012";
}
.icon16-presentation:before {
  content: "\f0c4";
}


/*
 * ICONS: kelt-icons-24
 */
.icon24-bullhorn, .icon24-podcast, .icon24-calendar, .icon24-bubble, .icon24-lab, .icon24-lanyrd, .icon24-twitter, .icon24-film, .icon24-location, .icon24-mail, .icon24-microphone, .icon24-graduate, .icon24-coffee, .icon24-attachment, .icon24-hammer, .icon24-food, .icon24-picture, .icon24-user, .icon24-clock, .icon24-bubbles, .icon24-house, .icon24-ticket, .icon24-uniF47D, .icon24-tag, .icon24-pencil, .icon24-tv, .icon24-play-alt, .icon24-file-pdf, .icon24-attachment-2, .icon24-presentation {
  font-family: 'kelt-icons-24';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon24-bullhorn:before {
  content: "\e000";
}
.icon24-podcast:before {
  content: "\e001";
}
.icon24-calendar:before {
  content: "\e003";
}
.icon24-bubble:before {
  content: "\e004";
}
.icon24-lab:before {
  content: "\e009";
}
.icon24-lanyrd:before {
  content: "\e00b";
}
.icon24-twitter:before {
  content: "\e00c";
}
.icon24-film:before {
  content: "\e00e";
}
.icon24-location:before {
  content: "\e00f";
}
.icon24-mail:before {
  content: "\e013";
}
.icon24-microphone:before {
  content: "\e014";
}
.icon24-graduate:before {
  content: "\e016";
}
.icon24-coffee:before {
  content: "\f0f4";
}
.icon24-attachment:before {
  content: "\e01a";
}
.icon24-hammer:before {
  content: "\f291";
}
.icon24-food:before {
  content: "\e007";
}
.icon24-picture:before {
  content: "\f03e";
}
.icon24-user:before {
  content: "\e008";
}
.icon24-clock:before {
  content: "\e002";
}
.icon24-bubbles:before {
  content: "\e010";
}
.icon24-house:before {
  content: "\e005";
}
.icon24-ticket:before {
  content: "\e011";
}
.icon24-uniF47D:before {
  content: "\f47d";
}
.icon24-tag:before {
  content: "\f02b";
}
.icon24-pencil:before {
  content: "\f040";
}
.icon24-tv:before {
  content: "\e006";
}
.icon24-play-alt:before {
  content: "\e00a";
}
.icon24-file-pdf:before {
  content: "\e00d";
}
.icon24-attachment-2:before {
  content: "\e012";
}
.icon24-presentation:before {
  content: "\f0c4";
}

/*
 *  ICONS: soccer
 */
.icon16-soccer {
  font-family: 'soccer';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon16-soccer:before {
  content: "\e600";
}