/*
 * COLORS
 */
$white: #fff;
$red: #f00;
$light-gray: #ccc;
$dark-gray: #444;
$topbar-bg: #f00;

/*
 * FONTS
 */
$oswald-book: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sourcesanspro-regular: 'Source Sans Pro', Verdana, 'Helvetica Neue', Helvetica, sans-serif;

/*
 * HEADINGS
 */
$h1-padding: 0;
$h2-padding: 0;
