@font-face {
	font-family: 'kelt-icons-24';
	src:url('fonts/kelt-icons-24.eot');
	src:url('fonts/kelt-icons-24.eot?#iefix') format('embedded-opentype'),
		url('fonts/kelt-icons-24.woff') format('woff'),
		url('fonts/kelt-icons-24.ttf') format('truetype'),
		url('fonts/kelt-icons-24.svg#kelt-icons-24') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'kelt-icons-24';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon24-"] {
*/
.icon24-bullhorn, .icon24-podcast, .icon24-calendar, .icon24-bubble, .icon24-lab, .icon24-lanyrd, .icon24-twitter, .icon24-film, .icon24-location, .icon24-mail, .icon24-microphone, .icon24-graduate, .icon24-coffee, .icon24-attachment, .icon24-hammer, .icon24-food, .icon24-picture, .icon24-user, .icon24-clock, .icon24-bubbles, .icon24-house, .icon24-ticket, .icon24-uniF47D, .icon24-tag, .icon24-pencil, .icon24-tv, .icon24-play-alt, .icon24-file-pdf, .icon24-attachment-2, .icon24-presentation {
	font-family: 'kelt-icons-24';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon24-bullhorn:before {
	content: "\e000";
}
.icon24-podcast:before {
	content: "\e001";
}
.icon24-calendar:before {
	content: "\e003";
}
.icon24-bubble:before {
	content: "\e004";
}
.icon24-lab:before {
	content: "\e009";
}
.icon24-lanyrd:before {
	content: "\e00b";
}
.icon24-twitter:before {
	content: "\e00c";
}
.icon24-film:before {
	content: "\e00e";
}
.icon24-location:before {
	content: "\e00f";
}
.icon24-mail:before {
	content: "\e013";
}
.icon24-microphone:before {
	content: "\e014";
}
.icon24-graduate:before {
	content: "\e016";
}
.icon24-coffee:before {
	content: "\f0f4";
}
.icon24-attachment:before {
	content: "\e01a";
}
.icon24-hammer:before {
	content: "\f291";
}
.icon24-food:before {
	content: "\e007";
}
.icon24-picture:before {
	content: "\f03e";
}
.icon24-user:before {
	content: "\e008";
}
.icon24-clock:before {
	content: "\e002";
}
.icon24-bubbles:before {
	content: "\e010";
}
.icon24-house:before {
	content: "\e005";
}
.icon24-ticket:before {
	content: "\e011";
}
.icon24-uniF47D:before {
	content: "\f47d";
}
.icon24-tag:before {
	content: "\f02b";
}
.icon24-pencil:before {
	content: "\f040";
}
.icon24-tv:before {
	content: "\e006";
}
.icon24-play-alt:before {
	content: "\e00a";
}
.icon24-file-pdf:before {
	content: "\e00d";
}
.icon24-attachment-2:before {
	content: "\e012";
}
.icon24-presentation:before {
	content: "\f0c4";
}
